@use '@/themes/theme' as *;

.footer {
    background: #fff;
    color: $main-color;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    padding: 0 24px;
}
