@use '@/themes/variables' as *;

.footer {
    background: #fff;
    color: $main-color;
}

.bottom {
    .bottomHolder {
        display: flex;
        justify-content: space-between;
        align-items: center;
        height: 75px;

        @media (max-width: 576px) {
            flex-direction: column;
            padding: 5px 0;
        }
    }
}
