.inputContainer {
    flex-direction: row;
    align-items: flex-start;
}

.inputWrapper {
    margin-bottom: 20px;
}

.circleContainer {
    align-items: center;
    justify-content: center;
    margin-right: 23px;
}

.label {
}
