@use '@/themes/variables' as *;
@use '@/themes/mixines' as *;

.formWrap {
    max-width: 400px;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    flex-direction: column;
    animation: 0.4s ease-out 0s 1 slideInFromRight;

    form {
        display: flex;
        flex-direction: column;
        flex-grow: 1;
    }
}
.formImage {
    text-align: center;
    margin-bottom: 25px;
    img,
    svg {
        max-width: 100%;
        height: auto;
    }
}
.formHeading {
    text-align: center;
    font-size: 32px;
    font-weight: 600;
    margin-bottom: 30px;
    @media screen and (max-width: $media-sm - 1) {
        font-size: 24px;
        margin-bottom: 25px;
    }
}
.formText {
    text-align: center;
    max-width: 345px;
    margin: 0 auto 15px;
    h3 {
        font-size: 20px;
        margin-bottom: 15px;
    }
    ul {
        @include custom-ul-marker(6px, 10px, var(--accent-color));
        margin: 0 auto 15px;
        li {
            color: var(--light-color);
            display: inline-block;
            margin: 0 7px 7px;
            @media screen and (max-width: $media-sm - 1) {
                font-size: 16px;
                margin: 0 10px 10px;
            }
            &:before {
                margin-right: 7px;
            }
        }
    }
    a {
        @include underline-link-hover();
    }
}
.formActions {
    max-width: 400px;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: auto;
    padding-top: 20px;
    button {
        min-width: 220px;
        &:not(:only-child) {
            margin-left: 25px;
            @media screen and (max-width: $media-sm - 1) {
                flex-grow: 1;
            }
        }
        &:only-child {
            width: 100%;
            margin-left: 0;
        }
    }
}

@keyframes slideInFromRight {
    0% {
        opacity: 0;
        transform: translateX(50%);
    }
    100% {
        transform: translateX(0);
        opacity: 1;
    }
}
