@use '@/themes/theme' as *;

.header {
    background: $main-color;
}

.holder {
    width: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;

    @media (max-width: 768px) {
        flex-direction: column;
        align-items: center;
    }
}

.logo {
    padding: 8px 0;

    @media (max-width: 768px) {
        margin-bottom: 10px;

        img {
            height: 63px;
        }
    }
}

.logoImg {
    max-height: 50px;
}
