@import '../../../../../themes/theme';

.passwordRecovery {
    width: 100%;
}

.heading {
    color: $main-color;
    font-size: 40px;
    font-weight: bold;

    @media (max-width: 768px) {
        text-align: center;
    }
}
