// colors
$main-color: #115e67;
$orange-color: #f6921e;

// screen sizes
$media-xs: 576px;
$media-sm: 768px;
$media-lg: 992px;
$media-xl: 1200px;
$media-xxl: 1600px;

// typography
$font-family: 'BastardoV2', sans-serif;
$font-size-sm: 18px;
$font-size-md: 30px;
$font-size-large: 52px;
$line-height-sm: 20px;
$line-height-md: 34px;
$line-height-large: 54px;
