@import "~react-widgets/lib/scss/react-widgets";
@import "~react-toastify/dist/ReactToastify.css";
@import "~bootstrap/scss/bootstrap";

body {
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.rw-list-option {
    min-height: calc(1.5rem + 0.143em * 2);
}

.form-control {
    font-size: 1em;
}

.rw-calendar-popup {
    td {
        padding: 4px;
    }
}

.custom-file-label {
    height: auto;
}

@media print {
    .col-print-1 {
        width: 8%;
        float: left;
    }
    .col-print-2 {
        width: 16%;
        float: left;
    }
    .col-print-3 {
        width: 25%;
        float: left;
    }
    .col-print-4 {
        width: 33%;
        float: left;
    }
    .col-print-5 {
        width: 42%;
        float: left;
    }
    .col-print-6 {
        width: 50%;
        float: left;
    }
    .col-print-7 {
        width: 58%;
        float: left;
    }
    .col-print-8 {
        width: 66%;
        float: left;
    }
    .col-print-9 {
        width: 75%;
        float: left;
    }
    .col-print-10 {
        width: 83%;
        float: left;
    }
    .col-print-11 {
        width: 92%;
        float: left;
    }
    .col-print-12 {
        width: 100%;
        float: left;
    }
}