@use 'react-toastify/dist/ReactToastify.css' as *;
@use 'bootstrap/scss/bootstrap' as *;
@use 'react-widgets/styles.css' as *;
@use '@/themes/theme' as *;
@use '@coreui/coreui/scss/coreui' with (
    $primary: $main-color
);

body {
    margin: 0;
    font-family:
        -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans',
        'Droid Sans', 'Helvetica Neue', sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}

// Dropdown items
.rw-list-option {
    min-height: calc(1.5rem + 0.143em * 2);
}
