@use '@/themes/variables' as *;

.container {
    position: relative;

    input {
        padding-right: 60px;
        &:global(.text-danger) {
            ~ .help {
                svg {
                    use {
                        fill: var(--input-help-color);
                    }
                }
            }
        }
    }
}

.help {
    font-size: 14px;
    line-height: 15px;
    color: var(--input-help-color);
    display: flex;
    margin: 10px 0 0 2px;
    text-align: left;
    :global {
        .icon {
            margin: 0 5px 0 0;
            min-width: 10px;
        }
    }
}

.toggle {
    display: flex;
    align-items: center;
    position: absolute;
    right: 0;
    z-index: 10;
    top: 7px;
    line-height: 23px;
}

.toggleIcon {
    font-size: $font-size-sm;
    margin-right: 23px;
    cursor: pointer;
    line-height: inherit;

    svg {
        color: var(--secondary-color);
    }
}
