@import "src/themes/theme";

.errorRow {
    display: flex;
    align-items: center;
    margin-top: 1rem;
    border-radius: 4px;
    margin-bottom: 1rem;

    & > :first-child {
        margin-right: 10px;
        flex-shrink: 0;
    }
}

.errorMessage {
    color: getColor(danger-100);
    font: getTypography(body-2);
}
